.header {
  margin-top: 20px;
}

.header img {
  width: 30%;
  margin-right: 10px;
  display: inline-block;
}

.header h1 {
  vertical-align: bottom;
  font-size: 120%;
  margin: 5px 0 0 0;
  text-transform: uppercase;
  display: inline-block;
}

/* https://www.drupal.org/docs/7/creating-accessible-themes/hide-content-properly */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.sk-spinner {
  width: 14px !important;
  height: 14px !important;
  margin-left: 10px;
  display: inline-block;
}

.intro-text {
  text-align: center;
  margin-top: 30px;
  font-size: 110%;
  opacity: .5;
}

@media (max-width: 337px) {
  .header img {
    width: 25%;
  }
}
